.container{
  padding-top: 40px;
  
}

.box-direction{
  -webkit-box-orient: horizontal;
}

.banner-part{
  background-color: #F0FFF0;
}

.nav-item{
  margin: 10px 10px;
}

.green-btn{
  width: 150px;
  background-color: #21B573;
  border-radius: 50px;
  padding:10px 20px;
  text-decoration: none;
  text-align: center;
}

.green-btn:hover{
  background-color: #2ea44f;
  border: 1px solid green;
}

.text-red{
  color: #FD511A;
}

.text-green{
  color: #21b573;
}

.text-gray{
  color: #6C6B6B;
}

/* .col-banner-left{
  padding-left: 10%;
  padding-right: 10%;
} */

.btn-success{
  border-radius: 50px;
  padding: 10px 20px;
}

a:link{
  color: white;
}

a:visited {
  color: white;
}

.col-md-6 h1{
  font-weight: bold;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: gray;
}

.box-item{
  margin-top: 20%;
  background-color: #f8fffb;
  border-radius: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.box-item-inner{
  margin-top: 10%;
}

.box-item img{
  width: 30%;  
}

.box-item:hover{
  background-color: white;
  box-shadow: 5px 5px 40px lightgray;
}
.card{
  border-radius: 15px;
  box-shadow: 5px 5px 60px lightgray;
}
.card img{
  padding: 20px 20px;
}
.card:hover{
  box-shadow: 5px 5px 40px gray;
}
.card-footer img{
  width: 25px;
  height: 25px;
  padding:1px;
}

.card-footer{
  background-color: white;
  border:none;
  
}
.testimonial-block{
  padding-top: 10%;
  padding-bottom:10% ;
  padding-left: 20%;
  padding-right: 20%;
}
.testimonial-block img{
  width: 100px;
  float: left;
  margin-right: 20px;
}
.bottom-part-background{
  background-color: #282531;
  color: white;
 
}
.bottom-part-background p{
  margin:0px;
}
.bottom-part-background a{
  text-decoration: none;
}
.bottom-part-inner{
  /* padding-left:50%; */
  place-self: center;
}
footer{
  margin-top: 50px;
}

